* {
    margin: 0;
    padding: 0;
}
header {
    padding-top: 32px;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
}



header > div.content {
    margin: 0 auto;
    max-width: 312px;

}

div.content_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



div.photo {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    background: linear-gradient(rgba(47, 43, 240, 1), rgba(10, 45, 171, 0.67));
    display: flex;
    justify-content: center;
    align-items: center;
}

div.photo > img {
    display: block;
    border-radius: inherit;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
}

div.info {
    margin-top: 10px;
    max-width: 313px;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    color: #03081C;
    text-align: center;
}

div.info .greeting{
    font-size: 17px;
    line-height: 29px;
    margin-bottom: 4px;
}

div.info .name {
    font-size: 24px;
    line-height: 30px;
    
}

div.info .position {
    font-size: 13px;
    line-height: 22px;
}

.content_btns {
    
}

.content_btns .btn {
    
    box-sizing: border-box;

    height: 50px;
    display: flex;
    border-radius: 20px;
    /* background: linear-gradient(94.78deg, #2F2BF0 1.68%, #05B3FD 100%); */
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    color: #03081C;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 71%;
    border: 2px solid transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 0 auto;
    margin-top: 10px;
    
    
}

.content_btns .btn > img {
    margin-left: 15px;
}



@media (min-width: 375px){
    div.photo {
        height: 220px;
        width: 220px;
    }

    div.info {
        margin-top: 40px;
    }

    .content_btns .btn {
        height: 70px;
        width: 90%;
    }

    .content_btns {
        padding-top: 34px;
    }
}

@media (min-width:414px){
    div.photo {
        height: 200px;
        width: 200px;
    }

    div.info .greeting {
        font-size: 24px;
        margin-bottom: 10px;
    }

    div.info .name {
        font-size: 30px;
        margin-bottom: 10px;
    }

    div.info .position {
        font-size: 16px;
    }

    .content_btns {
        padding-top: 24px;
    }

    .content_btns .btn {
        height: 70px;
        width: 90%;
    }

    div.info {
        margin-top: 30px;
    }
}

@media (min-width: 768px){

    header {
        padding-top: 80px;
    }

    div.photo {
        height: 250px;
        width: 250px;
    }

    div.content_header {
        justify-content: space-between;
        flex-direction: row;
    }

    header > div.content {
        max-width: 620px;
    
    }

    .content_btns {
        display: flex;
        justify-content: space-between;
    }

    .content_btns > a.btn {
        width: 48%;
        margin: initial;
    }

    div.info {
        margin: initial;
    }

    div.info .greeting {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: start;
    }

    div.info .name {
        font-size: 30px;
        margin-bottom: 10px;
    }

    div.info .position {
        font-size: 16px;
        text-align: end;
    }

    .content_btns {
        padding-top: 60px;
    }

}









/* skills */
section.skills {
    height: 100vh;
    padding-top: 54px;
    box-sizing: border-box;
}


section.skills > .container {
    margin: 0 auto;
    max-width: 75%;
}


section.skills > .container > .title {
    text-align: center;
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 87px;

}

.skill {
    margin-bottom: 18px;
}

.skills_list {
    list-style: none;
    font-family: 'Inter', sans-serif;
}

.skill > .skill_title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 15px;
}

.skill_title > .percentage {
    font-size: 14px;
}

.skill_title > .title {
    font-weight: 300;
}

.skill_dash {
    height: 22px;
    border-radius: 32px;
    border: 1px solid #03081C;
}

.skill_dash > div {
    background: linear-gradient(90deg, #2E2CF0 0%, #06AFFC 100%);
    height: inherit;
    border-radius: inherit;
    width: 50%;
}

@media (min-width: 768px){
    section.skills > .container {

    }
}