* {
    margin: 0;
    padding: 0;
}
header {
    padding: 120px;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
}

header > div.content {
    
    width: 682px;
    display: grid;
    grid-template-rows: 1fr 93px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    column-gap: 56px;
    row-gap: 108px;
}

.photo_bg {
    border-radius: 100%;
    background: linear-gradient(45deg, rgba(47, 43, 240, 1), rgba(5, 179, 253, 1) 71%);
    height: 249px;
    width: 249px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    border-radius: inherit;
    background-image: url('../img/photo.jpg');
    height: 237px;
    width: 237px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.info > .hi {
    font-size: 24px;
}

.info > .greting {
    font-size: 34px;
    margin-bottom: 6px;
}

.info > .job {
    font-size: 18px;
    text-align: end;
}

.btn_bg {
    display: flex;
    background: linear-gradient(45deg, rgba(47, 43, 240, 1), rgba(5, 179, 253, 1) 71%);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.btn_bg > .btn {
    display: flex;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    background-color: white;
    border-radius: 17px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #03081C; 
}

.btn > img {
    margin-left: 17px;
}

.next_page > img{
    display: block;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* skills */
section.skills {
    height: 100vh;
    padding-top: 54px;
    box-sizing: border-box;
}


section.skills > .container {
    margin: 0 auto;
    width: 380px;
}


section.skills > .container > .title {
    text-align: center;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 87px;

}

.skill {
    margin-bottom: 18px;
}

.skills_list {
    list-style: none;
    font-family: 'Inter', sans-serif;
}

.skill > .skill_title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 15px;
}

.skill_title > .percentage {
    font-size: 14px;
}

.skill_dash {
    height: 22px;
    border-radius: 32px;
    border: 1px solid #03081C;
}

.skill_dash > div {
    background-color: blueviolet;
    height: inherit;
    border-radius: inherit;
    width: 50%;
}