* {
    margin: 0;
    padding: 0;
}
header {
    padding-top: 55px;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
}



header > div.content {
    margin: 0 auto;
    max-width: 312px;

}

div.content_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



div.photo {
    height: 249px;
    width: 249px;
    border-radius: 100%;
    background: linear-gradient(rgba(47, 43, 240, 1), rgba(10, 45, 171, 0.67));
    display: flex;
    justify-content: center;
    align-items: center;
}

div.photo > img {
    display: block;
    border-radius: inherit;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
}

div.info {
    margin-top: 45px;
    max-width: 313px;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    color: #03081C;
    text-align: center;
}

div.info .greeting{
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
}

div.info .name {
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 8px;
}

div.info .position {
    font-size: 18px;
    line-height: 22px;
}

.content_btns {
    padding-top: 20px;
}

.content_btns .btn {
    margin-top: 22px;
    box-sizing: border-box;

    height: 75px;
    display: flex;
    border-radius: 20px;
    /* background: linear-gradient(94.78deg, #2F2BF0 1.68%, #05B3FD 100%); */
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #03081C;
    text-align: center;
    justify-content: center;
    align-items: center;

    border: 4px solid transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    
    
}

.content_btns .btn > img {
    margin-left: 15px;
}

@media (min-width: 768px){
    div.content_header {
        justify-content: space-between;
        flex-direction: row;
    }

    header > div.content {
        max-width: 700px;
    
    }

    .content_btns {
        display: flex;
        justify-content: space-between;
    }

    .content_btns > a.btn {
        width: 45%;
    }

}







/* skills */
section.skills {
    height: 100vh;
    padding-top: 54px;
    box-sizing: border-box;
}


section.skills > .container {
    margin: 0 auto;
    width: 380px;
}


section.skills > .container > .title {
    text-align: center;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 87px;

}

.skill {
    margin-bottom: 18px;
}

.skills_list {
    list-style: none;
    font-family: 'Inter', sans-serif;
}

.skill > .skill_title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 15px;
}

.skill_title > .percentage {
    font-size: 14px;
}

.skill_title > .title {
    font-weight: 300;
}

.skill_dash {
    height: 22px;
    border-radius: 32px;
    border: 1px solid #03081C;
}

.skill_dash > div {
    background: linear-gradient(90deg, #2E2CF0 0%, #06AFFC 100%);
    height: inherit;
    border-radius: inherit;
    width: 50%;
}